.idle-screen {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100svh;
  background: #1f6fb2;
}

.idle-screen img {
  height: 50svh;
  width: auto;
}
